<!doctype html>
<html lang="en">
{% include 'partials/head.html' %}
    <body
        class="bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-gray-100 min-h-screen"
        x-data="app()"
        x-init="init()"
        x-cloak
    >
        <div class="max-w-6xl mx-auto px-4 py-6">
            {% include 'partials/header.html' %}

            {% include 'partials/tab_nav.html' %}

            <div x-show="tab === 'config'">
                <div class="space-y-6">
                    {% include 'partials/config/providers.html' %}
                    {% include 'partials/config/channels.html' %}
                    {% include 'partials/config/hermes_options.html' %}
                    {% include 'partials/config/agent_defaults.html' %}
                    {% include 'partials/config/tools.html' %}
                    {% include 'partials/config/save_bar.html' %}
                </div>
            </div>

            <div x-show="tab === 'status'">
                <div class="space-y-6">
                    {% include 'partials/status/gateway.html' %}
                    {% include 'partials/status/providers_channels.html' %}
                    {% include 'partials/status/cron_jobs.html' %}
                    {% include 'partials/status/pairing_operations.html' %}
                    {% include 'partials/status/recent_logs.html' %}
                </div>
            </div>

            {% include 'partials/toast.html' %}
        </div>

        {% include 'partials/scripts.html' %}
    </body>
</html>
